

.header_background {
    background: url('../../assets/imgs/about/bg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}



.about {
    display: flex;
    padding-top: 80px;
    /* padding-bottom: 80px; */

    justify-content: flex-end;
}

.context {
    margin-right: 24px;
}

.context p {
    max-width: 500px;
    text-align: justify;
    font-size: 0.875rem;
    font-weight: 400;
}

.img_wrapper {
    max-width: 500px;
    max-height: 487px;
    background: var(--text-1);
    /* align-self: flex-start; */
    overflow: hidden;
}

.img_wrapper img {
    width: 100%;
}



@media (max-width: 992px) {
    .about {
        flex-direction: column;
        align-items: center;

    }

    .context {
        margin-right: 0;
        margin-top: 1rem;
        order: 1;
    }
}