
:root {
    --loader-duration: 750ms;
    --loader-width: 10px;
}

.loaders_container {
    display: flex;
    justify-content: center;
}

.loader {
    display: block;
    width: var(--loader-width);
    height: var(--loader-width);
    margin-left: 0.5rem;
    background-color: #d0d0d0;
    border-radius: 100%;
    box-shadow: 1px 4px 4px 0 rgba(0,0,0,0.25);
    animation: fade-up var(--loader-duration) linear infinite;
}


.loaders_container .loader:nth-child(2) {
    animation-delay: calc(var(--loader-duration)/4);
}

.loaders_container .loader:nth-child(3) {
    animation-delay: calc((var(--loader-duration)/4)*2);
}


@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(110%);
    }
    15% {
        transform: translateY(0);
        opacity: 1;
    }
    90%{
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(110%);
        opacity: 0;
    }
}