
.button {
    display: inline-block;
    position: relative;
    padding: 8px 18px;
    border: 1px solid var(--color);
    outline: none;
    cursor: pointer;
    background-color: transparent;
    font-weight: 700;
    font-size: 1rem;
    user-select: none;
}

.button .lines_container {
    position: absolute;
    transition: all 750ms ease;
    -webkit-transition: all 750ms ease;
    -moz-transition: all 750ms ease;
    -ms-transition: all 750ms ease;
    -o-transition: all 750ms ease;
    pointer-events: none;
    /* border: 1px solid; */
}

:root {
    --strok: 1px;
    --tall: 8px;
}


/* top lines */

.button .lines_container:nth-child(1) {
    top: -1px;
    left: -1px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform-origin: right;
}

.button .lines_container:nth-child(1) .horizontal {
    height: var(--strok);
    width: var(--tall);

    position: absolute;
    left: calc(-1 * var(--tall));
    top: 0;
}

.button .lines_container:nth-child(1) .vertical {
    height: var(--tall);
    width: var(--strok);

    position: absolute;
    left: 0;
    top: calc(-1 * var(--tall));
}


/* bottom lines */

.button .lines_container:nth-child(2) {
    bottom: -1px;
    right: -1px;
    transform: translate(50%, 50%);
    -webkit-transform: translate(50%, 50%);
    -moz-transform: translate(50%, 50%);
    -ms-transform: translate(50%, 50%);
    -o-transform: translate(50%, 50%);
    transform-origin: left;
}

.button .lines_container:nth-child(2) .horizontal {
    height: var(--strok);
    width: var(--tall);

    position: absolute;
    right: calc(- 1px * var(--tall));
    bottom: 0px;
}

.button .lines_container:nth-child(2) .vertical {
    height: var(--tall);
    width: var(--strok);

    position: absolute;
    right: 0;
    bottom: calc(- 1px * var(--tall));
}


.button:hover .lines_container:nth-child(1) {
    left: calc(100% + 1px);
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

.button:hover .lines_container:nth-child(2) {
    right: calc(100% + 1px);
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}