@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&family=Cairo:wght@400;500;600;700&display=swap');
@font-face {
  font-family: bona;
  src: url('./assets/fonts/BonaNova-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: bona;
  src: url('./assets/fonts/BonaNova-Bold.ttf');
  font-weight: 600;
}

:root {
  --bona-nova: bona, serif;
  --cairo: 'Cairo', sans-serif;
  --black: rgb(13,13,13);
  --dark: rgb(35,35,35);
  --darker: rgb(24,24,24);
  /* --golden: rgb(203,161,53); */
  --golden: rgb(255, 102, 0);
  --light-golden: rgb(255, 102, 0);
  /* --light-golden: rgb(255,204,51); */
  --text-2: rgb(196,196,196);
  --text-1: rgb(93,93,93);
  --border: rgb(196,196,196);
}

::-moz-selection,
::selection {
  color: #fff;
  background: var(--golden);
}

html, body,
*,*::after,*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
a{
  color: #000;
}
a, a:hover {
  text-decoration: none;
}

body {
  font-family: var(--bona-nova), -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.display--none {
  visibility: hidden;
  animation-name: unset;
}